<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addleagueservlet</servlet-name>
        <servlet-class>controller.addleagueservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorpageservlet</servlet-name>
        <servlet-class>view.errorpageservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listleagueservlet</servlet-name>
        <servlet-class>view.listleagueservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successservlet</servlet-name>
        <servlet-class>view.successservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>league</servlet-name>
        <servlet-class>model.league</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addleagueservlet</servlet-name>
        <url-pattern>/addleagueservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorpageservlet</servlet-name>
        <url-pattern>/errorpageservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listleagueservlet</servlet-name>
        <url-pattern>/listleagueservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successservlet</servlet-name>
        <url-pattern>/successservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>league</servlet-name>
        <url-pattern>/league</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
